@import "../../theme/main";

page-login {
  @include styleText_TimesNewRoman();
  ion-content {
    background: $ecoop_radial;
    @include location-elem(center, center);

    div {
      @include location-elem(center, center);
      flex-direction: column;
      height: inherit;

      img{
        margin-bottom: $margin_sm;
      }

      form {
        div {
          width: $size_x_field;
          height: $size_y_field;

          @include location-elem(center, left);

          label {
            color: $color_text_white;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 12px;
            margin-bottom: 5px;
            font-style: normal;
            font-size: 13px;
          }

          input {
            width: 100%;
            height: $size_height_input;
            background-color: $background_transparent;
            border: 2px solid $border_field_white;
            padding: $padding_inner_xs;
            color: $color_text_white;
            font-size: $size_text_input;
          }
        }
      }
    }

    .paddingRight {
      margin-right: 8px;
    }

    .action {
      display: inline-flex;
      padding-top: 12px;
      margin-top: 30px;
      width: $size_x_button;
      height: $size_y_button;

      button {
        width: 100%;
        letter-spacing: 2px;
        background-color: $background_transparent;
        border: 2px solid $border_field_white;
        padding: $padding_button;
        text-transform: uppercase;
        color: $color_text_white;
      }

      button:hover {
        background-color: $background_white;
        color: $ecoop_blue;
      }
    }

    .forget-password {
      @include location-elem(flex-start);
      color: $color_text_white;
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
