<div class="wrapper-menu">
  <div class="logo-image">
    <img src="../../assets/imgs/eccop_logo.png" width="90%">
  </div>
  <div class="profile-image">
    <ion-icon name="ios-contact"></ion-icon>
  </div>

  <div class="menu-item" routerLink="/preisrechner" routerLinkActive="active-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Tariff Query
    </span>
  </div>

  <div class="menu-item" routerLink="/vertrage" routerLinkActive="active-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Clients
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Clients
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Resubmission
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      calendar
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Document
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Contact
    </span>
  </div>

  <div class="menu-item">
    <div>
      <img src="../../assets/imgs/default_question.png" height="25">
    </div>
    <span>
      Vip club
    </span>
  </div>

  <div class="footer-menu">
    <img src="../../assets/imgs/default_question.png" width="22" height="22">
    <img src="../../assets/imgs/default_question.png" width="22" height="22">
  </div>
  <footer class="footer-time">
    <span>15.04.2017 14:32</span>
  </footer>
</div>
