@import "../../theme/main";

side-menu-directive {
  .wrapper-menu {
    background: $ecoop_blue;
  }

  div {
    position: relative;
    width: $width_menu;
    height: 100%;
    @include location-elem(flex-start,center);

    float: left;
    flex-direction: column;

    .logo-image {
      @include location-elem(center, center);
      width: $width_logo_menu;
      height: $height_logo_menu;
      margin: $margin_logo_menu;
    }

    .profile-image {
      @include location-elem(flex-start center);
      width: $width_avatar_menu;
      height: $height_avatar_menu;
      margin: $margin_avatar_menu;
      ion-icon {
        font-size: $size_text_b2;
        color: $background_white;
      }
    }

    .menu-item {
      width: $width_menu;
      height: $height_menu_item;

      div {
        @include location-elem(center center);
        width: $width_icon_menu;
        height: $height_icon_height;
        margin: $margin_icon_menu;
        color: $color_text_white;
      }

      span {
        //@include location-elem(center center);
        //width: $width_label_icon_menu;
        height: 10pt;
        color: $color_text_white;
        text-transform: uppercase;
        font-size: 10px ;
        margin: $margin_label_icon_menu;
        font-family: Helvetica;
      }
    }

    .footer-menu {
      @include location-elem(center center);
      flex-direction: row;
      position: fixed;
      bottom: 0;
      height: 45px;
      width: $width_menu;

      img:nth-child(1) {
        margin: $margin_toolbar_menu;
      }
      img:nth-child(2) {
        margin: 0 0 23px 17px;
      }
    }

    .footer-time {
      @include location-elem(center center);
      position: fixed;
      bottom: 6px;
      font-size: 10px;
      color: $color_text_white;
    }
  }

  .active-item {
    background-color: $active_menu_item;

    div, ion-icon {
      background-color: $active_menu_item;
    }
  }
}
