<div>
  <div class="logo-image">
    <img src="../../assets/imgs/eccop_logo.png" width="90%">
  </div>
  <div class="profile-image">
    <ion-icon name="ios-contact"></ion-icon>
  </div>

  <div class="menu-item" routerLink="/preisrechner" routerLinkActive="active-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Tariff Query
    </div>
  </div>

  <div class="menu-item" routerLink="/vertrage" routerLinkActive="active-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Clients
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Offer
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Resubmission
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      calendar
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Document
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Contact
    </div>
  </div>

  <div class="menu-item">
    <ion-icon name="md-help"></ion-icon>
    <div>
      Vip club
    </div>
  </div>
  <div class="menu-item">
    <div>
    </div>
  </div>

  <div class="footer-menu">
    <ion-icon name="md-refresh"></ion-icon>
    <ion-icon name="md-log-in"></ion-icon>
  </div>
</div>
