
/**Backgrounds */
$background_transparent: transparent;
$background_white: #FFFFFF;
$ecoop_blue: #0E8BD1;
$ecoop_radial-webkit: -webkit-radial-gradient(circle at left, #7BC2E6, #1F5C9A);
//$ecoop_radial: radial-gradient(circle at left, #7BC2E6, #1F6AA7);
$ecoop_radial: radial-gradient(50em at 15% 60%, #82C5E7, #1F5C9A);
$active_menu_item: #2B9DDC;
$background_violet: #95297B;
$background_orange: #F17D00;
$background_gray: #EBEBEB;


/**Text fields*/
$fields_disabled: #F5F5F5;
$fields_active: #FFFFFF;
$color_text_white: #FFFFFF;
$color_text_black: #515151;
$color_text_gray: #6F7477;
$color_text_light_gray: #EBEBEB;

  /**Borders*/
$border_error: #842734;
$border_field_white: #FFFEFD;
$border_field_gray: #A9A9A9;
$border_gray: #979797;
/**Text color*/
$color_transparent: transparent;
$color_text_white: #FFFFFF;

