$size_text_xs: 0.7em;
$size_text_sm: 1.2em;
$size_text_lg: 1.5em;
$size_text_b: 2em;
$size_text_b2: 4em;

$size_procent_xss: 30%;
$size_procent_xs: 40%;
$size_procent_sm: 50%;

$padding_inner_xs: 10px 15px;
$padding_inner_sm: 15px 20px;
$padding_inner_equally_xss: 10px;
$padding_inner_equally_xs: 15px;
$padding_inner_equally_sm: 25px;
$padding_inner_equally_md: 35px;
$padding_inner_equally_lg: 45px;

$margin_xss: 5px;
$margin_xs: 10px;
$margin_sm: 15px;
$margin_lg: 25px;
$margin_mg: 40px;

$size_height_input: 50px;
$size_header: 52px;

/**Login pin page*/
$size_side_square: 45px;
$size_side_item_keyboard: 60px;

/**Side Bar*/
$width_menu: 91px;
$height_menu_item: 60px;

$size_side_item_sm: 24px;

