@import "../../theme/main";

preisrechner-directive {

  .tarifergebnis-content{
    @include location-elem(flex-start, flex-start);
    flex-direction: column;
    border-left: 1px solid $border_field_gray;
    width: $width_container_tarifergebnis;

    .tarifergebnis-body {
      overflow: auto;
      height: $size_page_without_header;
    }
    .tarifergebnis-header{
      @include location-elem();
      width: 591px;
      height: $size_header;
      background-color: $ecoop_blue;

      span {
        width: 109px;
        height: $height_title;
        color: $color_text_white;
        font-size: 18px;
      }
    }

    .tarifergebnis-title {
      @include location-elem(space-between);

      width: 100%;
      padding: $padding_title_tarifergebnis;
      background-color: $ecoop_blue;
      border-top: 1px solid $border_field_white;
      .name-tar {
        float: left;
        font-size: $size_text_lg;
        color: $color_text_white;
      }

     .count {
       font-size: $size_text_lg;
        color: $color_text_white;
      }
    }

    .slides{
      width: 100%;
      //padding: 0 $padding_inner_equally_xs;
      padding: 0 15px 0 15px;

      background-color: $ecoop_blue;
      height: $height_sliders;
      .chart-block {
        @include location-elem();
        width: 100%;

        canvas {
          height: 148px !important;
          width: 260px !important;
          padding: 0 0 25px 25px;
        }
      }

      ion-slides {
        @include location-elem();
        border-top: 1px solid $border_field_white;
        border-bottom: 1px solid $border_field_white;
        padding: 15px 0;

        .swiper-pagination-bullet {
          background-color: $color_text_white;
        }

        .swiper-container-horizontal{
          .swiper-pagination {
            padding: 15px 0;
            bottom: -15px;
          }
        }
      }
    }
  }

  .footer-action {
    @include location-elem(space-between);
    width: 100%;
    background-color: $ecoop_blue;

    button {
      border: none;
      width: $width_button_tarifergebnis;
      height: $height_button_tarifergebnis;
      margin: 20px 0 6px 10px;
    }

    button {
      color: $color_text_gray;
      background-color: $background_white;
      border-radius: 3px;
      padding: $padding_inner_sm;
      margin: $margin_xs;
      text-transform: uppercase;
    }

    button:nth-child(2) {
      color: $color_text_white;
      background-color: $background_violet;
    }
  }
}
