@import "../../theme/main";

page-login-pin {
  ion-content {
    background: $ecoop_radial;

    .wrapper-login-pin {
      @include location-elem();
      height: 100%;
      flex-direction: column;

      img {
        margin-bottom: $margin_sm;
      }

      .field-number {
        width: 270px;
        @include location-elem(space-between, center, inline-flex);

        div {
          float: left;
          width: $size_side_square;
          height: $size_side_square;
          border:  2px solid $border_field_white;
          margin-bottom: 46px;

          .icon-hidden {
            opacity: 0;
            height: 100%;
            color: $color_text_white;
            font-size: $size_text_b;
          }

          .icon-show {
            opacity: 1 !important;
          }

          ion-icon {
            @include location-elem();

          }
        }
      }

      .keyboard {
        width: $width_keyboard;
        height: $height_keyboard;

        .row-keys, .last-keys {
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
          margin-bottom: $margin_keyboard_item;

          span {
            @include location-elem();
            border-radius: 50%;
            border: 2px solid $border_field_white;
            width: $size_side_item_keyboard;
            height: $size_side_item_keyboard;
            color: $color_text_white;
            font-size: $size_text_lg;
          }

          span:hover {
            background-color: $background_white;
            color: $ecoop_blue;
          }
        }

        .last-keys{
          @include location-elem();
        }
      }
    }
  }
}
