@import "../../theme/main";

page-login-pin {
  ion-content {
    background: $ecoop_radial;

    .wrapper-login-pin {
      @include location-elem();
      height: 100%;
      flex-direction: column;

      img{
        margin-bottom: $margin_sm;
      }

      .field-number {
        div {
          @include location-elem(center, center);
          width: $size_side_square;
          height: $size_side_square;
          border:  2px solid $border_field_white;
          display: inline-block;
          margin: $margin_lg $margin_xss;

          .icon-hidden {
            opacity: 0;
            @include location-elem();
            height: 100%;
            color: $color_text_white;
            font-size: $size_text_b;
          }

          .icon-show {
            opacity: 1 !important;
          }
        }
      }



      .keyboard {
        .row-keys {
          @include location-elem();
          span{
            @include location-elem();
            border-radius: 50%;
            border: 2px solid $border_field_white;
            width: $size_side_item_keyboard;
            height: $size_side_item_keyboard;
            margin: $margin_xs;
            color: $color_text_white;
            font-size: $size_text_lg;
          }

          span:hover {
            background-color: $background_white;
            color: $ecoop_blue;
          }
        }
      }
    }
  }
}
